.search-container {
    display: flex;
    margin: 20px 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

h1.header {
    margin: 20px;
    font-size: 2rem;
}

.search-form {
    max-width: 600px;
    height: max-content;
    flex-basis: 80%;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 20px;
    overflow: hidden;
    transition: border-color .3s ease-in-out;
}

.search-input {
    padding: 13px;
    width: 100%;
    background-color: transparent;
    color: var(--dark-gray);
    border-radius: 20px;
    border: 2px solid var(--light-gray);
    outline: none;
}

.search-button {
    position: absolute;
    font-size: 18px;
    right: 10px;
    background-color: transparent;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
}

.search-icon {
    color: var(--primary-gray);
}

.search-button:hover .search-icon {
    color: var(--primary-black);
}

.search-input:focus {
    outline: none;
}

.search-form:focus-within {
    border-color: var(--outline);
}