* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #e3e3e3;
  --primary-black: #000000;
  --primary-gray: #4f4f4f97;
  --light-gray: #b3b3b3;
  --dark-gray: #282828;
  --outline: #282828;
  --primary-blue: #007BFF;

}

::selection {
  background: #3c3c3c;
  color: #ffffff;
}


[data-theme='light'] {
  --bg: #000;
  --primary-black: #fff;
  --primary-gray: #b0b0b0;
  --light-gray: #1c1c1c;
  --dark-gray: #dcdcdc;
  --outline: #007BFF;
  --primary-blue: #007BFF;
}